* {
   margin: 0;
   padding: 0;
}

html,
body {
   height: 436px;
   width: 318px;
   overflow-x: hidden;
   display: flex;
}

@media (prefers-color-scheme: light) {
   html,
   body {
      background-color: #fff;
   }
}

@media (prefers-color-scheme: dark) {
   html,
   body {
      background-color: #20242c;
   }
}

#root {
   height: 100%;
   width: 100%;
}

a {
   text-decoration: none;
}
