name: Type Check

on: push

jobs:
  tsc:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
      - name: Install PNPM
        run: corepack enable && corepack prepare pnpm@latest --activate
      - name: Install workspaces
        run: pnpm install
      - name: Run tsc
        run: pnpm type-check
